<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Thank you for your business!</h1>
    <h3>We have charged your credit card {{request.session.checkout}}</h3>
    <h3>You have ordered {{request.session.item}} items from Amadon so far!</h3>
    <h3>You have spent ${{request.session.total}} so far!</h3>
    <form action="back" method="post">
        {% csrf_token %}
        <button type="submit">Go Back</button>
    </form>
    <form action="clear" method="post">
        {% csrf_token %}
        <button type="submit">Clear</button>
    </form>
</body>

</html>